<div class="container">
  
   <form >
      <div>

        <label for="name">Nom:</label>
      <input type="text" id="name" name="user_name" >                             
         
         
      </div>
      <div>
        <label for="name">Prenom:</label>
        <input type="text" id="name" name="user_name">
      </div>
      <div>
          <label for="mail">e-mail :</label>
          <input type="email" id="mail" name="user_mail">
      </div>
      <div>
        <label for="titre">Titre:</label>
        <input type="text" id="titre" name="user_titre">
      </div>
      <div>
          <label for="msg">Message :</label>
          <textarea id="msg" name="user_message"></textarea>
      </div>
      <div class="button">
              <button type="submit">Envoyer</button>
      </div>
      
      
     </form>
     <div class="adresse">
        <img src="https://cdn.discordapp.com/attachments/895286368824094753/908424555473801288/lyon-carte.jpg" alt="carte map"/>
    
        <h5>adresse</h5>
        <p>17,rue Delandine 69002</p>
        <p>Tel:0651720167</p>
          
       </div>
        
</div>  

  <div class="horaire">
  
         <div class="horaire1">
            
          <h5>Horaire d'ouvertire:</h5>
                <p>lundi:    de 11h à 14h    et  de 19h à 23h   </p>                                                      
                <p>samedi:  de 11h à 14h    et  de 19h à 23h   </p>    
                <p>mardi:  de 11h à 14h    et  de 19h à 23h   </p>      
               <p>Mercredi:   de 11h à 14h    et  de 19h à 23h</p>  
        </div>
      
       <div class="horaire2">
        <p>Jeudi:      de 11h à 14h    et  de 19h à 23h </p>
        <p>vendredi:    de 11h à 14h    et  de 19h à 23h  </p>  
        <p>dimanche:   de 11h à 14h    et  de 19h à 23h</p>
        </div>
  </div>
  
