<div class="container-fluid">
  <div class="row">
    <!-- Image de la main -->
    <div class="col-12">
      <img class="w-100" src="assets/img/homeMain.png" alt="Main répandant de la farine" />
    </div>
  </div>
  <div class="row bg-light text-dark py-2 py-xl-5">
    <div class="col-md-6 px-2 px-xl-5">
      <h1 class="text-center">Notre histoire</h1>
      <p class="justifyText" id="texteHome">
        Le secret d’une bonne pizza réside avant tout dans <span>la qualité de la pâte</span>. Chez Wild Pizza , la pâte à pizza est fabriquée chaque jour en pizzeria à partir de farine de blé de haute qualité, de notre propre levain, d'huile d'olive vierge extra, de sel marin et d’eau. Le processus de fermentation longue des pâtons permet de vous proposer <span>des pizzas savoureuses et très digestes</span> . Cette recette exclusive a été élaborée avec notre formateur, double champion du monde de pizza.

       <br> Nous nous engageons à utiliser <span>les meilleurs produits</span>  pour garnir vos pizzas. Les ingrédients qui composent nos recettes sont simples mais ne sont pas choisis au hasard.<br>


        Chaque ingrédient a son importance afin de vous proposer les meilleures associations gustatives.<br> C’est pourquoi nous sélectionnons rigoureusement chaque producteur. <span>Nos ingrédients sont 100% frais</span> . Les légumes sont cuisinés. Les viandes sont garanties origine France. Les fromages sont labellisés.

        Mon amour pour les bons produits et ma passion du bien manger me permettent de <span>vous emmener dans un voyage culinaire aux milliers de saveurs.</span> 
      </p>
    </div>
    <div class="col-md-6 px-5">
      <img class="w-100" src="assets/img/homePizza.png" alt="Pizza au feu de bois" />
    </div>
  </div>
</div>
